body{

    background: #010109;
    font-family: 'Roboto', sans-serif;    color: white;
    line-height: 3rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
   
}

.panel-bg{

    background: rgb(33,143,100);
    background: linear-gradient(127deg, rgb(33, 143, 101) 63%, rgb(86, 212, 219) 100%);
}
#Home #first-row #left #left-header{


    font-size: 3.0rem ;
}
#Home #first-row #left{


    font-size: 1.2rem ;
}



#Home #first-row #right{


    font-size: 0.7rem ;
}
#Home #first-row #right p{


    font-size: 1.7rem ;
}
#Home h6{


    font-size: 1.0rem ;
}
#Feauters #first-row{

    font-size: 1rem;
    line-height: normal;
}
#Feauters #first-row #firstrowinpanel #right{

    font-size: 5rem;
    line-height: normal;
}

#Feauters #first-row #thirdrowinpanel #right #table{
 
   font-size: 0.8rem;
 }
 #Feauters #first-row #thirdrowinpanel #right #table svg{
 
    width: 0.8rem;
    height: 0.8rem;
  }
  
 @media screen and (max-width: 600px) {
    #Home #first-row #left #left-header{

        
        font-size: 2.1rem ;
    }
    #Home #first-row #left{
    
    
        font-size: 0.75rem ;
    }
    
    
#Home #first-row #right{


    font-size: 0.6rem ;
}
#Home #first-row #right p{


    font-size: 1.2rem ;
}
#Home h6{


    font-size: .8rem ;
}
#Home #second-row h4,#Home #second-row h4 p{


    font-size: 0.8rem ;
}

#Feauters #first-row #firstrowinpanel{

    font-size: 0.9rem;
    line-height: normal;
}
#Feauters #first-row h1{

    font-size: 1.5rem;
}
#Feauters #first-row #secondrowinpanel #left #tablesvg{

    width: 1.2rem;
    height: 1.2rem;
}
#Feauters #first-row span{

    font-size: 0.65rem;
}
#Feauters #first-row #secondrowinpanel #right #first h4{

   font-size: 1.2rem;
}
#Feauters #first-row #secondrowinpanel #right #first p{

    font-size: 1rem;
 }

#Feauters #first-row #secondrowinpanel #right #first svg{

    width: 4rem;
    height: 4rem;
}
#Feauters #first-row #secondrowinpanel #right #first h4{

   font-size: 1.2rem;
}
#Feauters #first-row #secondrowinpanel #right #first p{

    font-size: 1rem;
 }

#Feauters #first-row #secondrowinpanel #right #first svg{

    width: 4rem;
    height: 4rem;
}
#Feauters #first-row #thirdrowinpanel #left  h4{

    font-size: 1.2rem;
 }
 #Feauters #first-row #thirdrowinpanel #left p{
 
     font-size: 1rem;
  }
 
 #Feauters #first-row #thirdrowinpanel #left svg{
 
     width: 4rem;
     height: 4rem;
 }
 #Feauters #first-row #thirdrowinpanel #right #table{
 
    font-size: 0.6rem;
  }
  #Feauters #first-row #thirdrowinpanel #right #table svg{
  
     width: 0.7rem;
     height: 0.7rem;
   }
   #Feauters #second-row span{
  
   font-size: 2rem;
  }
  #Feauters #fourth-row span{
  
    font-size: 1rem;
   }
   #Feauters #fourth-row #third svg{
  
    width: 2em;
    height: 2rem;
   }
   #Feauters #fourth-row #third h4{
  
    font-size: 1.2rem;
   }
   #Feauters #fourth-row #third p{
  
    font-size: 1rem;
   }
  
  }


section{

    
    flex-direction: column;
    display: flex;
    justify-content: center;
   
}
#navmain{

    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: solid #171627;
    background-color:#010109 ;
}
#navmain .nav-link{

    color:white;

       
}
#navmain #login{

    color: white;
    background-color: #25C096;

}

#navmain .nav-link:hover{

    border-bottom: 1px solid #01b485 ;
    border-width: 2px;
    
}


.active{

    color:white;
    border-bottom: 1px solid #25C096;
    border-width: 50%;

    transition: all 0.5s;
}


#navmain .navbar-brand
{
    color:white;
;
    


}
#navmain .navbar-brand:hover
{
    color:#25C096;
    transition: all 0.5s;

}


footer{
    display: flex;
    font-size: 1.5rem;
    font-weight: 10;
    justify-content: center;
    align-items: center;
   line-height: normal;
    padding: 5px;
}
a{
    text-decoration: none;
    color:rgba(199, 199, 199, 0.82);
    font-size: 0.6em;
}
a:hover{
    color:#EDA006;
    transition: all 0.2s;
}
footer span{

}
ul{
    list-style-type: none;
}

p{

    color:#777B91;
    font-weight: 5;
    font-size: 1rem;
    line-height: normal;
    

}

    

section{

   
    margin-bottom: 10em ;
    transition: all 0.5s ;
}




#contactform {

    background-color: #1b1d25;
}
#yearsofexp{

    background-color: white;
}


#contactform button{

    background-color: #EDA006;
    font-size: 12px;
}


#contactform 
textarea,
#contactform input{

    background-color : #010109; 
    border: #010109;
  
  }
  
  #contactform 
  textarea:focus,
#contactform input:focus{

    outline: none;
    box-shadow: 0 0 5px #EDA006;
    transition: all 0.1;
  }



#hard input{

    background-color : #1B1D25; 
    border: #010109;
  
  }
 
#hard input:focus{

    outline: none;
    box-shadow: 0 0 5px #EDA006;
    transition: all 0.1;
  }
  

i{

    position: absolute;
    justify-content: end;
    margin: 247px;
    cursor: pointer;
}

#nexttocontact{

background-color: #1B1D25;

}


#nexttocontact #leftcol {
    border-right: 1.5px dotted white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#nexttocontact #rightcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#nexttocontact #leftcol span{
    color: #25C096;
    font-size: 3em;
    font-weight: bold;
    margin: 0 1em 0 1em;
}
#nexttocontact #rightcol span{
    color: #8312F0;
    font-size: 3em;
    font-weight: bold;
    margin: 0 1em 0 1em;
}
#contactform button{
    color: white;
}
#nexttocontact p{

    font-size: 0.8em;
    margin-top: 2em ;
}

#underhomepanel{
    display: flex;
    flex-direction: row;
    text-align: center;

}
p{
    font-weight: 10px;
    line-height: 1.2em;
}
#Feauters #firstpanel{


}