body{

    background: #010109;
font-family: 'Roboto', sans-serif;    color: white;
    line-height: 3em;
}

#navmain{

    font-size: 1.5rem;
    font-weight: 100;
    border-bottom: solid #171627;
    background-color:#010109 ;
}
#navmain .nav-link{

    color:white;

       
}
#navmain #login{

    color: white;
    background-color: #1B835C;

}

#navmain .nav-link:hover{

    border-bottom: solid #1B835C;

       
}


.active{

    color:white;
    border-bottom: solid #1B835C;
    
    transition: all 0.5s;
}


#navmain .navbar-brand
{
    color:white;
;
    


}
#navmain .navbar-brand:hover
{
    color:#1B835C;
    transition: all 0.5s;

}

#headingGroup h1{

    color:white;
    font-size: 4rem;
    font-weight: 100;
}


footer{
    display: flex;
    font-size: 1.5rem;
    font-weight: 10;
    justify-content: center;
    align-items: center;
   
    padding: 5px;
}
a{
    text-decoration: none;
    color:rgba(199, 199, 199, 0.82);
    font-size: 0.6em;
}
a:hover{
    color:#EDA006;
    transition: all 0.2s;
}
footer span{

}
ul{
    list-style-type: none;
}

@media (max-width: 1300px) {
    #headingGroup h1{

        font-size: 1rem;
    }
}
p{

    color:rgb(255, 255, 255);
    font-weight: 5;
    font-size: 1rem;
    line-height: 2;
    

}

    

section{

   
    margin-bottom: 100px ;
    transition: all 0.5s ;
}

.active-section {
    
   
    
    padding: 0 1em 0 1em;
    margin: 2% 0 2% 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.1s;
    
    
   

  }
 
.active-home{
    margin: 10%;
    
    transition: all 0.5s;
}
.active-home span{
    margin: 5%;
    transform: rotate(180deg);
    display: inline-block;
    transition: all 0.5s;
    
}
#Home{
    
    transition: all 0.5s;
}
#Home span{
    
    transition: all 0.5s;
    
}

#contactform {

    background-color: #1b1d25;
}
#yearsofexp{

    background-color: white;
}


#contactform button{

    background-color: #EDA006;
    font-size: 12px;
}


#contactform 
textarea,
#contactform input{

    background-color : #010109; 
    border: #010109;
  
  }
  
  #contactform 
  textarea:focus,
#contactform input:focus{

    outline: none;
    box-shadow: 0 0 5px #EDA006;
    transition: all 0.1;
  }



#hard input{

    background-color : #1B1D25; 
    border: #010109;
  
  }
 
#hard input:focus{

    outline: none;
    box-shadow: 0 0 5px #EDA006;
    transition: all 0.1;
  }
  

i{

    position: absolute;
    justify-content: end;
    margin: 247px;
    cursor: pointer;
}

#nexttocontact{

background-color: #1B1D25;

}


#nexttocontact #leftcol {
    border-right: 1.5px dotted white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#nexttocontact #rightcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#nexttocontact #leftcol span{
    color: #1B835C;
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
}
#nexttocontact #rightcol span{
    color: #8312F0;
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
}
#contactform button{
    color: white;
}
#nexttocontact p{

    font-size: 1em;
}

#underhomepanel{
    border-right: 1.5px dotted white;
    display: flex;
    flex-direction: row;
    text-align: center;

}
p{
    font-size: 0.8em;
    font-weight: 10px;
}