
$bodycolor: #ffffff;
$greybg: #1D1F2B;
$darkgreybg:#131418;
$textcolor: rgb(0, 0, 0);
$pcolor: rgb(0, 0, 0);
$buttonbg: #0dc682;
$buttontxt: white;
$navbarbrand: white;
$hovercolor: #25C096;
$navlink: white;
$navbarcolor:#d44bfa;
$gradinatbg: rgb(33,143,100) linear-gradient(127deg, rgb(33, 143, 101) 63%, rgb(86, 212, 219) 100%);
$homerightholderbg: #010109;
$prpl: #8312F0;
$yylo: #EDA006;



#mode{
    cursor: pointer;
}
.darkgrey{
    background-color: $darkgreybg;
}
.black{

    background-color: #8484f4;


}
.lightgreen{

   color: $buttonbg ;

}
.yylo{
    background-color: $yylo;
    color: $textcolor ;
}
.prpl{

    color: $prpl ;
}
.lightgreybg{

    background-color: #1B1D25;
}
.pill-color{

    background-color: #323137;
    height:1em;
}
body{

    background: $bodycolor;
    font-family: 'Roboto', sans-serif;    color: $textcolor;
    line-height: 3rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
   
}


.panel-bg{

    background: $gradinatbg;
}

#Home {

    #left-header{

        font-size: 3rem;

    }

    #first-row 
    {
        #left{

            font-size: 1.2rem ;
       
        }   
        #right{


            font-size: 0.7rem ;
            
            #holder{
                background-color: $homerightholderbg;

             
            }

        p{
            font-size: 1.7rem ;
        }
        }
    }

    h6{

        font-size: 1.0rem ;
    }

}


#Feauters{

    #first-row{

        font-size: 1rem;
        line-height: normal;
       
        p{
            font-size: 1rem;

        }
        #firstpanel{
            background-color: $greybg;
        
        #firstrowinpanel {

            h1{

                font-size: 2em;
            }
        
            
            #secondrowinpanel{

                background-color: $darkgreybg;
            #right{

            font-size: 5rem;
            line-height: normal;

            #table{
 
                font-size: 0.8rem;
                background-color: $darkgreybg;
                svg{
 
                    width: 0.8rem;
                    height: 0.8rem;
                  }
            
            }
                }
            }
            }
        }
    }
    #third-row{

        justify-self: center;        
        background: rgb(19,193,129); 
        background: linear-gradient(127deg, rgba(19,193,129,1) 12%, rgba(58,182,172,1) 100%);
        height: 30em;
        width: 95%; 
        align-items: center;
        position: relative;
        margin-left: 2%;

            #leftpanel{

                  z-index: 2;
                  position: absolute;
                  height: 55%; 
                  box-shadow: 0 0 25px #262524;
                  left: 15%;
                  bottom:20%;
                  img{
                    width: 27em ;
                    height:7em;
                  }
                
            }
            #centerpanel{

                z-index: 1;
                position: absolute;
                height: 80%;
                box-shadow: 0 0 25px #262524;
                left: 34%;

                #row1{
                    height: 23%; 
                }

                #row2{

                }

            }
            #rightpanel{

                z-index: 0;
                position: absolute;
                height: 55% ;
                width: 22%;
                left: 65%; 
            box-shadow: 0 0 25px #262524;            }

        




    }
   
}

#About{

    #fourh-row{
        #subrow{

        height: 80%;
        width: 70vw;
        p{
            font-size: 2rem;
            line-height: normal;
        }
    }
}
}

#Contact{

    #first-row{
        height: 25rem;
        position: relative;
        margin-top: 3rem;
        
        
       #contactform{    
        position: relative;
        width: 30%;
        height: 85%;
        bottom: 40%;
        
        display: flex;

        align-items: center;
        #formholder{
        

            width: 90%;
            button{
                background-color: #EDA006;
                font-size:1em;
                color: white;
                width: 13rem;
                margin-top: 1rem ;

    
            }
            textarea,input{
                background-color : #010109; 
                border: #010109;
                margin-bottom: 1rem ;

    
                &:focus{
    
                            
                    outline: none;
                    box-shadow: 0 0 5px #EDA006;
                    transition: all 0.1;
                }
            
    
            }
        }
       

    
    }
    
       
    #nexttocontact{
        position: relative;
        width: 30%;
        height: 80%;
        bottom: 20%;
        display: flex;
        align-items: center;

        #nexttocontactholder{
            height: 95%;
            display: flex;

            align-items: center;
    
        }
    }
}

    #second-row{
        position: relative;
    }
}

@media (max-width: 800px) {

    #Home {

        #left-header{
    
            color: 2.1rem;
    
        }
    
        #first-row 
        {
            #left{
    
                font-size: 0.75rem ;
           
            }   
            #right{
    
    
                font-size: 0.6rem ;
    
            p{
                font-size: 1.2rem ;
            }
            }
        }

        #second-row{


            h4{

                p{
                    font-size: 0.8rem ;
                }
                font-size: 0.8rem ;
            }


        }
    
        h6{
    
            font-size: 0.8rem ;
        }
    
    }

#Feauters{

    #first-row{

        #firstrowinpanel{

            h1{

                font-size: 1.5rem;
            }
            
            span{

                font-size: 1em;

            }

        }

        #secondrowinpanel{

            
            span{

                font-size: 0.6em;

            }

            #left{

                svg{
                    width: 1.3rem;
                    height: 1.3rem;
                    font-size: 0.8rem;

                }
               
            }
            #right{

                h4{
                    font-size: 30rem;
                }

                p{
                    font-size: 2;
                }
                #first{

                    h4{font-size: 1.2rem;}
                    p{font-size: 1rem;}
                    
                    svg{
                        width: 5rem;
                        height: 5rem;
                    }
                }
                
                }
               

        }

        #thirdrowinpanel{
                width: 100vw;
                margin: 0;
            span{

                font-size: 1em;

            }
            #left{
                h4{
                    
                    font-size: 1.2rem;

                }
                p{
                    font-size: 0.8rem;
                }
                svg{
 
                    width: 5.5rem;
                    height: 5.5rem;
                }
            }
            #right{

                #table{

                    font-size: 0.6rem;
                    svg{
  
                        width: 0.7rem;
                        height: 0.7rem;
                      }

                }
            }
        }

        h1{
            font-size: 1.5rem;
        }

        span{

            font-size: 0.65rem;
        }

    }
    #second-row{

        span{
            font-size: 2rem;
        }
    }
    #third-row{

        position: relative;

 
            #leftpanel{

                position: absolute;
                height: 30%;
                left: 3%;
                bottom: 25%;

                  img{
                    width: 90%;
                    height: 50%;
                  }
                  span{
                    font-size:0.9rem;
                  }
                  #price1{
                    
                    display: none;

                    height: 1.5em;

                    span{
                        font-size: 0.1rem;
                    }

                  }
                  #price2{
                    display: none  ;
                    height: 1.5em;

                    span{
                        font-size: 0.1rem;
                    }
                  }
            }
            #centerpanel{

                height: 53%;
                left: 22%;

                h6{
                        font-size: 0.8rem ;
                }

                h2{
                    font-size: 1.2rem;
                }
                p{

                    font-size: 0.9rem;
                }
                #row1{
                    

                    width: 117%;
                    height: 4em;
                    img{
                        width: 3em;
                        height: 3em;
                    }
                    
                        font-size: 0.7rem;
                    
                    span{                       
                        font-size: 0.6rem;
                    }
                }
                #row2{
                    
                    width: 117%;
                    height: 3em;
                    img{
                        width: 3em;
                        height: 3em;
                    }
                    
                        font-size: 0.7rem;
                    
                    span{                       
                        font-size: 0.6rem;
                    }
                }

            }
            #rightpanel{
                position: absolute;
                height: 40%;
                width: 25%;
                right: 50%;
                span{
                   font-size:  0.9rem;
                }
            }

        




    }
    #fourth-row{

        span{
            font-size: 1rem;
        }
        #third{
            svg{
  
                width: 2em;
                height: 2rem;
               }
               h4{
  
                font-size: 1.2rem;
               }
               p{
  
                font-size: 1rem;
               }
        }
    }


    


}
#About{

    #second-row{
        #leftarrow{
            svg{

                height: 1.5rem ;
                width: 1.5rem ;
            }

        }

        #centerpanel{
            #holder{
            
            width: 90vw;
            #contentholder{

                width: 90v;
                position: relative;
                #svgholder{

                    position: absolute;

                    bottom: 85%;
                    left: 75%;
                    


                }

                

                #table{

                    height: 40%;
                    
                    font-size: 0.55rem;
                    p{
                        font-size: 0.7rem;
                    }
                    img{

                    }
                }
            }
            
        }
        }

        #rightarrow{

            svg{

                height: 1.5rem ;
                width: 1.5rem ;
            }

        }
    }


    #fourh-row{
        #subrow{

        height: 80%;
        width: 95vw;
        img{
            height: 6em;
            width: 15em ;
        }
        p{
            font-size: 0.8rem;
        }
        svg{
            height: 2rem;
            width: 2rem ;
        }
    }
}

}
#Contact{
    
    #first-row{
        position: relative;
        height: 15rem;
        margin-top: 1rem;


       #contactform{    
        position: relative;
        width: 45%;
        height: 95%;
        bottom: 50%;
        h3{        
            font-size: 1rem;
            margin-bottom: 5%;
        }
        #contactformholder{
            width:90%;
            position: relative;

            right: 9%;
            
          #formholder{ 
            height: 40%;
            width: 120%;
            justify-content: center;
            
            input{
                
            height: 1.5rem;
            width: 100%;
            font-size: 0.7rem;
            margin-bottom: 0.6rem ;


        }
        

        button{
            font-size: 0.6rem;
            width: 100%;
            height: 1.5rem;
            margin-bottom: 0%;
            margin-top: 0%;

        }
        textarea{
            height: 2.5rem;
            width: 100%;
            font-size: 0.7rem;
            margin-bottom: 0.6rem ;
        }
      }
           
        }
       

    
    }
    
       
    #nexttocontact{
        position: relative;
        display: flex;
        width: 40%;
        height: 80%;
        bottom: 20%;
        align-items: center;

        #nexttocontactholder{
            height: 115%;
            padding: 0% 4em;

            
            span{
                font-size: 1.8rem;
                display: inline;
            }
            p{
                font-size: 0.6rem;

            }
        }
    }
}

}
footer{
  
}
}


#navmain{

    font-size: 1.5rem;
    font-weight: 100;
    background-color: $navbarcolor ;

    .nav-link{

        color:$navlink;

        &:hover{

                    
            border-bottom: 1px solid $hovercolor ;
            border-width: 2px;

        }

    }
    #login{

        color: $buttontxt;
        background-color: $buttonbg;
    
    }
    .navbar-brand
        {
    color:$navbarbrand;

    &:hover{
        color:$hovercolor;
        transition: all 0.5s;
    }
        }
}



.active{

    color:white;
    border-bottom: 1px solid #25C096;
    border-width: 50%;

    transition: all 0.5s;
}




footer{
    display: flex;
    font-size: 1.5rem;
    font-weight: 10;
    justify-content: center;
    align-items: center;
   line-height: normal;
    padding: 5px;

    span{}
}
a{
    text-decoration: none;
    color:rgba(199, 199, 199, 0.82);
    font-size: 0.6em;

    &:hover{

        color:#EDA006;
        transition: all 0.2s;

    }
}


ul{
    list-style-type: none;
}

p{

    color:#777B91;
    font-weight: 5;
    font-size: 1rem;
    line-height: normal;
    

}

    

section{

   
    margin-bottom: 10em ;
    transition: all 0.5s ;
}





#yearsofexp{

    background-color: white;
}


  
 



#hard input{

    background-color : #1B1D25; 
    border: #010109;

    &:focus{

            
        outline: none;
        box-shadow: 0 0 5px #EDA006;
        transition: all 0.1;

    }
  
  }
 

i{

    position: absolute;
    justify-content: end;
    margin: 247px;
    cursor: pointer;
}

#nexttocontact{

        #leftcol{

            border-right: 1.5px dotted white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            span{
                font-size: 3em;
                font-weight: bold;
                margin: 0 1em 0 1em;
            }
            
        }
        #rightcol{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            span{
                font-size: 3em;
                font-weight: bold;
                margin: 0 1em 0 1em;
            }


        }
        p{

            font-size: 0.8em;
            margin-top: 2em ;
        }

}



#underhomepanel{
    display: flex;
    flex-direction: row;
    text-align: center;

}
p{
    
}
