#mode {
  cursor: pointer;
}

.darkgrey {
  background-color: #131418;
}

.black {
  background-color: #8484f4;
}

.lightgreen {
  color: #0dc682;
}

.yylo {
  background-color: #EDA006;
  color: rgb(0, 0, 0);
}

.prpl {
  color: #8312F0;
}

.lightgreybg {
  background-color: #1B1D25;
}

.pill-color {
  background-color: #323137;
  height: 1em;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 3rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 0%;
  margin-right: 0%;
}

.panel-bg {
  background: rgb(33, 143, 100) linear-gradient(127deg, rgb(33, 143, 101) 63%, rgb(86, 212, 219) 100%);
}

#Home #left-header {
  font-size: 3rem;
}
#Home #first-row #left {
  font-size: 1.2rem;
}
#Home #first-row #right {
  font-size: 0.7rem;
}
#Home #first-row #right #holder {
  background-color: #010109;
}
#Home #first-row #right p {
  font-size: 1.7rem;
}
#Home h6 {
  font-size: 1rem;
}

#Feauters #first-row {
  font-size: 1rem;
  line-height: normal;
}
#Feauters #first-row p {
  font-size: 1rem;
}
#Feauters #first-row #firstpanel {
  background-color: #1D1F2B;
}
#Feauters #first-row #firstpanel #firstrowinpanel h1 {
  font-size: 2em;
}
#Feauters #first-row #firstpanel #firstrowinpanel #secondrowinpanel {
  background-color: #131418;
}
#Feauters #first-row #firstpanel #firstrowinpanel #secondrowinpanel #right {
  font-size: 5rem;
  line-height: normal;
}
#Feauters #first-row #firstpanel #firstrowinpanel #secondrowinpanel #right #table {
  font-size: 0.8rem;
  background-color: #131418;
}
#Feauters #first-row #firstpanel #firstrowinpanel #secondrowinpanel #right #table svg {
  width: 0.8rem;
  height: 0.8rem;
}
#Feauters #third-row {
  justify-self: center;
  background: rgb(19, 193, 129);
  background: linear-gradient(127deg, rgb(19, 193, 129) 12%, rgb(58, 182, 172) 100%);
  height: 30em;
  width: 95%;
  align-items: center;
  position: relative;
  margin-left: 2%;
}
#Feauters #third-row #leftpanel {
  z-index: 2;
  position: absolute;
  height: 55%;
  box-shadow: 0 0 25px #262524;
  left: 15%;
  bottom: 20%;
}
#Feauters #third-row #leftpanel img {
  width: 27em;
  height: 7em;
}
#Feauters #third-row #centerpanel {
  z-index: 1;
  position: absolute;
  height: 80%;
  box-shadow: 0 0 25px #262524;
  left: 34%;
}
#Feauters #third-row #centerpanel #row1 {
  height: 23%;
}
#Feauters #third-row #rightpanel {
  z-index: 0;
  position: absolute;
  height: 55%;
  width: 22%;
  left: 65%;
  box-shadow: 0 0 25px #262524;
}

#About #fourh-row #subrow {
  height: 80%;
  width: 70vw;
}
#About #fourh-row #subrow p {
  font-size: 2rem;
  line-height: normal;
}

#Contact #first-row {
  height: 25rem;
  position: relative;
  margin-top: 3rem;
}
#Contact #first-row #contactform {
  position: relative;
  width: 30%;
  height: 85%;
  bottom: 40%;
  display: flex;
  align-items: center;
}
#Contact #first-row #contactform #formholder {
  width: 90%;
}
#Contact #first-row #contactform #formholder button {
  background-color: #EDA006;
  font-size: 1em;
  color: white;
  width: 13rem;
  margin-top: 1rem;
}
#Contact #first-row #contactform #formholder textarea, #Contact #first-row #contactform #formholder input {
  background-color: #010109;
  border: #010109;
  margin-bottom: 1rem;
}
#Contact #first-row #contactform #formholder textarea:focus, #Contact #first-row #contactform #formholder input:focus {
  outline: none;
  box-shadow: 0 0 5px #EDA006;
  transition: all 0.1;
}
#Contact #first-row #nexttocontact {
  position: relative;
  width: 30%;
  height: 80%;
  bottom: 20%;
  display: flex;
  align-items: center;
}
#Contact #first-row #nexttocontact #nexttocontactholder {
  height: 95%;
  display: flex;
  align-items: center;
}
#Contact #second-row {
  position: relative;
}

@media (max-width: 800px) {
  #Home #left-header {
    color: 2.1rem;
  }
  #Home #first-row #left {
    font-size: 0.75rem;
  }
  #Home #first-row #right {
    font-size: 0.6rem;
  }
  #Home #first-row #right p {
    font-size: 1.2rem;
  }
  #Home #second-row h4 {
    font-size: 0.8rem;
  }
  #Home #second-row h4 p {
    font-size: 0.8rem;
  }
  #Home h6 {
    font-size: 0.8rem;
  }
  #Feauters #first-row #firstrowinpanel h1 {
    font-size: 1.5rem;
  }
  #Feauters #first-row #firstrowinpanel span {
    font-size: 1em;
  }
  #Feauters #first-row #secondrowinpanel span {
    font-size: 0.6em;
  }
  #Feauters #first-row #secondrowinpanel #left svg {
    width: 1.3rem;
    height: 1.3rem;
    font-size: 0.8rem;
  }
  #Feauters #first-row #secondrowinpanel #right h4 {
    font-size: 30rem;
  }
  #Feauters #first-row #secondrowinpanel #right p {
    font-size: 2;
  }
  #Feauters #first-row #secondrowinpanel #right #first h4 {
    font-size: 1.2rem;
  }
  #Feauters #first-row #secondrowinpanel #right #first p {
    font-size: 1rem;
  }
  #Feauters #first-row #secondrowinpanel #right #first svg {
    width: 5rem;
    height: 5rem;
  }
  #Feauters #first-row #thirdrowinpanel {
    width: 100vw;
    margin: 0;
  }
  #Feauters #first-row #thirdrowinpanel span {
    font-size: 1em;
  }
  #Feauters #first-row #thirdrowinpanel #left h4 {
    font-size: 1.2rem;
  }
  #Feauters #first-row #thirdrowinpanel #left p {
    font-size: 0.8rem;
  }
  #Feauters #first-row #thirdrowinpanel #left svg {
    width: 5.5rem;
    height: 5.5rem;
  }
  #Feauters #first-row #thirdrowinpanel #right #table {
    font-size: 0.6rem;
  }
  #Feauters #first-row #thirdrowinpanel #right #table svg {
    width: 0.7rem;
    height: 0.7rem;
  }
  #Feauters #first-row h1 {
    font-size: 1.5rem;
  }
  #Feauters #first-row span {
    font-size: 0.65rem;
  }
  #Feauters #second-row span {
    font-size: 2rem;
  }
  #Feauters #third-row {
    position: relative;
  }
  #Feauters #third-row #leftpanel {
    position: absolute;
    height: 30%;
    left: 3%;
    bottom: 25%;
  }
  #Feauters #third-row #leftpanel img {
    width: 90%;
    height: 50%;
  }
  #Feauters #third-row #leftpanel span {
    font-size: 0.9rem;
  }
  #Feauters #third-row #leftpanel #price1 {
    display: none;
    height: 1.5em;
  }
  #Feauters #third-row #leftpanel #price1 span {
    font-size: 0.1rem;
  }
  #Feauters #third-row #leftpanel #price2 {
    display: none;
    height: 1.5em;
  }
  #Feauters #third-row #leftpanel #price2 span {
    font-size: 0.1rem;
  }
  #Feauters #third-row #centerpanel {
    height: 53%;
    left: 22%;
  }
  #Feauters #third-row #centerpanel h6 {
    font-size: 0.8rem;
  }
  #Feauters #third-row #centerpanel h2 {
    font-size: 1.2rem;
  }
  #Feauters #third-row #centerpanel p {
    font-size: 0.9rem;
  }
  #Feauters #third-row #centerpanel #row1 {
    width: 117%;
    height: 4em;
    font-size: 0.7rem;
  }
  #Feauters #third-row #centerpanel #row1 img {
    width: 3em;
    height: 3em;
  }
  #Feauters #third-row #centerpanel #row1 span {
    font-size: 0.6rem;
  }
  #Feauters #third-row #centerpanel #row2 {
    width: 117%;
    height: 3em;
    font-size: 0.7rem;
  }
  #Feauters #third-row #centerpanel #row2 img {
    width: 3em;
    height: 3em;
  }
  #Feauters #third-row #centerpanel #row2 span {
    font-size: 0.6rem;
  }
  #Feauters #third-row #rightpanel {
    position: absolute;
    height: 40%;
    width: 25%;
    right: 50%;
  }
  #Feauters #third-row #rightpanel span {
    font-size: 0.9rem;
  }
  #Feauters #fourth-row span {
    font-size: 1rem;
  }
  #Feauters #fourth-row #third svg {
    width: 2em;
    height: 2rem;
  }
  #Feauters #fourth-row #third h4 {
    font-size: 1.2rem;
  }
  #Feauters #fourth-row #third p {
    font-size: 1rem;
  }
  #About #second-row #leftarrow svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  #About #second-row #centerpanel #holder {
    width: 90vw;
  }
  #About #second-row #centerpanel #holder #contentholder {
    width: 90v;
    position: relative;
  }
  #About #second-row #centerpanel #holder #contentholder #svgholder {
    position: absolute;
    bottom: 85%;
    left: 75%;
  }
  #About #second-row #centerpanel #holder #contentholder #table {
    height: 40%;
    font-size: 0.55rem;
  }
  #About #second-row #centerpanel #holder #contentholder #table p {
    font-size: 0.7rem;
  }
  #About #second-row #rightarrow svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  #About #fourh-row #subrow {
    height: 80%;
    width: 95vw;
  }
  #About #fourh-row #subrow img {
    height: 6em;
    width: 15em;
  }
  #About #fourh-row #subrow p {
    font-size: 0.8rem;
  }
  #About #fourh-row #subrow svg {
    height: 2rem;
    width: 2rem;
  }
  #Contact #first-row {
    position: relative;
    height: 15rem;
    margin-top: 1rem;
  }
  #Contact #first-row #contactform {
    position: relative;
    width: 45%;
    height: 95%;
    bottom: 50%;
  }
  #Contact #first-row #contactform h3 {
    font-size: 1rem;
    margin-bottom: 5%;
  }
  #Contact #first-row #contactform #contactformholder {
    width: 90%;
    position: relative;
    right: 9%;
  }
  #Contact #first-row #contactform #contactformholder #formholder {
    height: 40%;
    width: 120%;
    justify-content: center;
  }
  #Contact #first-row #contactform #contactformholder #formholder input {
    height: 1.5rem;
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
  }
  #Contact #first-row #contactform #contactformholder #formholder button {
    font-size: 0.6rem;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  #Contact #first-row #contactform #contactformholder #formholder textarea {
    height: 2.5rem;
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
  }
  #Contact #first-row #nexttocontact {
    position: relative;
    display: flex;
    width: 40%;
    height: 80%;
    bottom: 20%;
    align-items: center;
  }
  #Contact #first-row #nexttocontact #nexttocontactholder {
    height: 115%;
    padding: 0% 4em;
  }
  #Contact #first-row #nexttocontact #nexttocontactholder span {
    font-size: 1.8rem;
    display: inline;
  }
  #Contact #first-row #nexttocontact #nexttocontactholder p {
    font-size: 0.6rem;
  }
}
#navmain {
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #d44bfa;
}
#navmain .nav-link {
  color: white;
}
#navmain .nav-link:hover {
  border-bottom: 1px solid #25C096;
  border-width: 2px;
}
#navmain #login {
  color: white;
  background-color: #0dc682;
}
#navmain .navbar-brand {
  color: white;
}
#navmain .navbar-brand:hover {
  color: #25C096;
  transition: all 0.5s;
}

.active {
  color: white;
  border-bottom: 1px solid #25C096;
  border-width: 50%;
  transition: all 0.5s;
}

footer {
  display: flex;
  font-size: 1.5rem;
  font-weight: 10;
  justify-content: center;
  align-items: center;
  line-height: normal;
  padding: 5px;
}
a {
  text-decoration: none;
  color: rgba(199, 199, 199, 0.82);
  font-size: 0.6em;
}
a:hover {
  color: #EDA006;
  transition: all 0.2s;
}

ul {
  list-style-type: none;
}

p {
  color: #777B91;
  font-weight: 5;
  font-size: 1rem;
  line-height: normal;
}

section {
  margin-bottom: 10em;
  transition: all 0.5s;
}

#yearsofexp {
  background-color: white;
}

#hard input {
  background-color: #1B1D25;
  border: #010109;
}
#hard input:focus {
  outline: none;
  box-shadow: 0 0 5px #EDA006;
  transition: all 0.1;
}

i {
  position: absolute;
  justify-content: end;
  margin: 247px;
  cursor: pointer;
}

#nexttocontact #leftcol {
  border-right: 1.5px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#nexttocontact #leftcol span {
  font-size: 3em;
  font-weight: bold;
  margin: 0 1em 0 1em;
}
#nexttocontact #rightcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#nexttocontact #rightcol span {
  font-size: 3em;
  font-weight: bold;
  margin: 0 1em 0 1em;
}
#nexttocontact p {
  font-size: 0.8em;
  margin-top: 2em;
}

#underhomepanel {
  display: flex;
  flex-direction: row;
  text-align: center;
}/*# sourceMappingURL=style.css.map */